@import "tailwindcss";

:root {
  --text-color: #06b6d4;
  --background-color: ;
}

body {
  background-color: #212529; /* #212529 #343a40 */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f59e0b; /* amber-500 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(
    to bottom,
    #f59e0b,
    #d97706,
    #b45309
  ); from-amber-500 via-amber-600 to-amber-700 */

  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d97706;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d97706 #f59e0b; /* thumb color, track color */
}
